<div class="board center-div">
  <p class="fz-60">Counter : {{ count$ | async }}</p>
  <p class="fz-60" *ngIf="updatedAt$ | async">
    Updated: {{ updatedAt$ | async | date : "HH:mm:ss dd/MM/yy" }}
  </p>
</div>
<div class="center-div">
  <div>
    <button class="btn fz-60" (click)="increment()">Increment</button>
    <button
      class="btn fz-60"
      (click)="decrement()"
      [disabled]="cannotDecrement$ | async"
    >
      Decrement
    </button>
    <button
      class="btn fz-60"
      (click)="clear()"
      [disabled]="cannotDecrement$ | async"
    >
      Clear
    </button>
  </div>
</div>

